*{
    margin: 0;
    padding: 0;
}
.sec-1 {
    background-color: black;
    color: white;
    padding: 16px 0;
}
.Logo img {
    width: 171px;
    height: 36px;
}
.Menu ul {
    display: flex;
}
.Menu li {
    list-style: none;
    margin-left: 30px;
    padding-top: 8px;
}
.sec-2 {
    background-color: BLACK;
    color: white;
    padding: 80px 0;
}
.themegradient {
    background: linear-gradient(90deg, #12B5DE -30%, #7130C3 30%, #FF3BD4 90%);
    text-transform: capitalize;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.theme {
    opacity: 0.5;
}
.unlockai {
    text-align: center;
}
.unlockai h1 {
    font-size: 80px;
}
.gradient-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background:  radial-gradient(85% 120% at 50% 125%, #ff3bd4 0.74%, #7130c3 65%, #0f1021 100%);
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.gradient-button:hover {
   background:  radial-gradient(85% 120% at 50% 125%, #ff3bd4 0.74%, #7130c3 65%, #0f1021 100%);
   overflow: hidden;
    transform: scale(1.05);
}
.unlockai p {
    color: #7376aa;
    font-size: 22px;
}
.unlockai span i {
    color: orange;
}
.unlockai h2 {
    font-size: 15px;
    padding: 5px;
    color: #7376aa;
}
/* .sec-3 {
    background-image: url(Images/banner-image-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
} */
.image-frame {
    border: 10px solid #333; /* Frame border */
    padding: 5px; /* Space between image and border */
    background-color: #fff; /* Background color of the frame */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    text-align: center;
    justify-content: center; /* Rounded corners */
    margin: 0 auto;
    display: flex;
}

.image-frame img {
    display: block; /* Remove bottom space */
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: rounded corners for the image */
}

.sec-3 {
    width: 80%;
    margin: 0 auto;
}
.sec3 {
    background-color: black;
}
.sec-4 {
    background-color: black;
    color: white;
    padding: 40px 0;
}
.getintouch {
    text-align: center;
}
.getintouch h2 {
    color: #7376aa;
    font-size: 26px;
}
.getintouch p {
    font-size: 54px;
}
.getintouch h1 {
    font-size: 24px;
}
.sec-5 {
    background-color: black;
    color: white;
    padding: 25px 0;
}
.aigenerator i {
    font-size: 26px;
    padding-left: 117px;
   color:  #7064e9;
}
.aigenerator h1 {
    font-size: 33px;
    opacity: 0.8;
}
.Ai i {
    font-size: 26px;
    padding-left: 117px;
   color:  #7064e9;
}
.Ai h1 {
    font-size: 33px;
    opacity: 0.8;
}
.Ai p{
    color: #7376aa;
}
.aigenerator p{
    color: #7376aa;
}
.aigenerator {
    border: 1px solid;
    padding: 26px 11px 19px;
}
.Ai {
    border: 1px solid;
    padding: 26px 11px 19px;
}
.progress-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.line {
    height: 6px;
    width: 285px;
   background-color: #35316f; 
}

.completed {
    background-color: #35316f;  /* Color for completed dots */
}

.dot:hover {
    background-color: #7064e9;  /* Change color on hover for uncompleted dots */
}
.howitwork p {
    font-size: 35px;
}
.howitwork h1 {
    font-size: 19px;
}
.howitwork {
    text-align: center;
}
.sec-6 {
    background: black;
    color: white;
    padding: 80px 0;
}
.howitwork p {
    opacity: 0.9;
}
.select12 {
    background-color: #0f1021;
    padding: 30px 107px;
}
.select p {
    color: #7376aa;
    font-size: 17px;
    text-align: center;
}
.select h1 {
    font-size: 23px;
    text-align: center;
    opacity: 0.8;
}
.sec-6 button {
    display: flex;
    margin: 0 auto;
}
.split img {
    width: 537px;
}
.sec-7 {
    background-color: black;
    color: white;
    padding: 80px 0;
}
.instant h1 {
    font-size: 38px;
    opacity: 0.7;
}
.instant h2 {
    font-size: 20px;
    color: #7376aa;
}
.instant p {
    color: #7376aa;
    font-size: 25px;
}
.sec-8 {
    background-color: #070710;
    color: white;
    padding: 20px 0;
}
.service h1 {
    opacity: 0.7;
    font-size: 30px;
}
.service p {
    color: #7376aa;
}
.service li {
    list-style: none;
    color: #7376aa;
}
.service input {
    background-color: black;
    color: #7376aa;
}
.sec-9 {
    background: black;
    color: white;
}
.power img {
    width: 171px;
    height: 36px;
    margin: 0 auto;
    display: flex;
}
/* ........... animated separator lines.........  */
.separator-animated {
    position: relative;
    overflow: hidden;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(111, 100, 233, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}

.mt--50 {
    margin-top: 50px !important;
}
.separator-animated.animated-true::before {
    content: "";
    position: absolute;
    width: 3%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%, var(--color-primary) 50%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(20px);
    animation: separateline 5s ease-in-out infinite;
}
:root {
    --sidebar-width: 320px;
}
:root {
    --color-primary: #7064e9;
    --color-primary-alt: #35316f;
    --color-secondary: #410093;
    --color-tertiary: #F2CD25;
    --color-primary-gradient-start: #4179FE;
    --color-primary-gradient-end: #36F5FF;
    --color-secondary-gradient-start: #F850FF;
    --color-secondary-gradient-end: #147EF3;
    --color-tertiary-gradient-start: #FD6221;
    --color-tertiary-gradient-end: #F2CD25;
    --color-primary-darker: #011827;
    --color-tertiary-darker: #150b40;
    --color-secondary-darker: #190301;
    --color-bg-1: #0E0C15;
    --color-link: #BCC3D7;
    --color-border-dark: #1E1E1E;
    --color-heading: #ccceef;
    --color-body: #7376aa;
    --color-text-off: #565e78;
    --color-dark: #070710;
    --color-darker: rgba(6, 6, 6, 0.7);
    --color-darkest: rgba(0, 0, 0, 0.3);
    --color-black: #000000;
    --color-black-off: rgba(0, 0, 0, 0.2);
    --color-blacker: rgba(15, 15, 17, 0);
    --color-blackest: #0f1021;
    --color-border: hsla(0, 0%, 100%, 0.1);
    --color-border-light: #e5e7eb;
    --color-lessdark: #1e1e1e;
    --color-gray: #7376aa;
    --color-midgray: #878787;
    --color-light: #E4E6EA;
    --color-lighter: #CED0D4;
    --color-lightest: #F0F2F5;
    --color-white: #ffffff;
    --color-white-off: rgba(255, 255, 255, 0.05);
    --color-success: #3EB75E;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;
    --color-facebook: #3B5997;
    --color-twitter: #1BA1F2;
    --color-youtube: #ED4141;
    --color-linkedin: #0077B5;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;
    --color-extra01: #666666;

}
:host, :root {
    --fa-font-thin: normal 100 1em / 1 "Font Awesome 6 Pro";
}
:host, :root {
    --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Pro";
}
:host, :root {
    --fa-font-regular: normal 400 1em / 1 "Font Awesome 6 Pro";
}
:host, :root {
    --fa-font-light: normal 300 1em / 1 "Font Awesome 6 Pro";
}
:host, :root {
    --fa-font-duotone: normal 900 1em / 1 "Font Awesome 6 Duotone";
}
:host, :root {
    --fa-font-brands: normal 400 1em / 1 "Font Awesome 6 Brands";
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

@keyframes separateline {
    0% {
        left: 0;
    }
    100% {
        left: 110%;
    }
}
/* ....................................................................  */
.sec-9 {
    background: black;
    color: white;
    padding: 30px 0;
}
.power h1 {
    font-size: 35px;
    text-align: center;
    opacity: 0.7;
    padding: 10px;
}